 td {background-color: #98B0E1;
  padding: 20px;
     opacity: 0.6;
}
body{
    background-image: url(hammaet1.jpg);
    background-size: cover;
}
h2{ font-family:cambria;
color:#6F6C78;
text-align:center;


}
