td {background-color:#EBF7F5  ;
  padding: 45px;
     opacity: 0.8;
}
body{
    background-image: url(beni%20mtir1.jpg);
    background-size: cover;
}
table{width: 100%;}
h2{ font-family:cambria;
color:#6F6C78;
text-align:center;


}