body{background-image:url("artisana10.jpg");
background-attachment: fixed;
    background-size: cover;
}

nav{ margin-left:100px;
margin-right:500px;
margin-top:50px;
margin-bottom:00px;
background-color:#FEB07D       ;
opacity: 0.9;
}
P,h1{
    font-size: 18px;
}
h2{ font-family:cambria;
color:#6F6C78;
text-align:center;


}